# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=themamboinn
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Backend Configuration
BACKEND_PORT=8000
SECRET_KEY=your-secret-key-change-in-production-please-use-a-strong-random-key
CORS_ORIGINS=http://localhost:3000,http://localhost:8000

# JWT Configuration
ALGORITHM=HS256
# Token expiration in minutes (default: 10080 = 1 week)
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Frontend Configuration
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8000

# Mux Configuration
MUX_TOKEN_ID=74a89201-8756-4bd5-a8e5-0e68724ed007
MUX_TOKEN_SECRET=tcD5avB+Af+VWHqxvU7FcsT1lHJFXFWKr+haREZ4EMsCns7YE/AEnEoMaKPIuxAGMou844QTel1
MUX_WEBHOOK_SECRET=jmfqviq9a0vae0h7g2hbc03j98sluqjt

#Claudflare
AWS_ACCESS_KEY_ID=3c929951e80b1767f09744df288b6cb5
AWS_SECRET_ACCESS_KEY=13630027794561d4d8d95f7aecb16781aad8ff87f961ccbf0bf8c26fc8608086
AWS_ENDPOINT_URL=https://e421ba3825fb5e55698aebcf65302b4e.r2.cloudflarestorage.com

# AWS S3 Configuration (optional)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_ENDPOINT_URL=https://e421ba3825fb5e55698aebcf65302b4e.r2.cloudflarestorage.com
AWS_BUCKET_NAME=the-mambo-inn
R2_PUBLIC_DOMAIN=https://pub-bad1fce3595144f2bac8492efa3aec64.r2.dev

# Stripe Configuration (optional)
STRIPE_SECRET_KEY=your-stripe-secret-key


